body
{
    color: deeppink;
    text-align: center;
    font-family: "Courier";
}

#par2 {
    color: red;}

#cabecera {
    background-color: blueviolet;
}
#footer {
    color: blue;
    background-color: burlywood;
    font-size: large;
    font-weight: bold;
}